Repository goauthentik/authentik, changes with the owners that CODEOWNERS names for each.
All owners: @goauthentik/backend, @goauthentik/frontend, @goauthentik/infrastructure, @goauthentik/docs, @goauthentik/security

CODEOWNERS:

# Fallback
*                                       @goauthentik/backend @goauthentik/frontend
# Backend
authentik/                              @goauthentik/backend
blueprints/                             @goauthentik/backend
cmd/                                    @goauthentik/backend
internal/                               @goauthentik/backend
lifecycle/                              @goauthentik/backend
schemas/                                @goauthentik/backend
scripts/                                @goauthentik/backend
tests/                                  @goauthentik/backend
pyproject.toml                          @goauthentik/backend
uv.lock                                 @goauthentik/backend
go.mod                                  @goauthentik/backend
go.sum                                  @goauthentik/backend
# Infrastructure
.github/                                @goauthentik/infrastructure
lifecycle/aws/                          @goauthentik/infrastructure
Dockerfile                              @goauthentik/infrastructure
*Dockerfile                             @goauthentik/infrastructure
.dockerignore                           @goauthentik/infrastructure
docker-compose.yml                      @goauthentik/infrastructure
Makefile                                @goauthentik/infrastructure
.editorconfig                           @goauthentik/infrastructure
CODEOWNERS                              @goauthentik/infrastructure
# Backend packages
packages/django-dramatiq-postgres       @goauthentik/backend
# Web packages
packages/docusaurus-config              @goauthentik/frontend
packages/esbuild-plugin-live-reload     @goauthentik/frontend
packages/eslint-config                  @goauthentik/frontend
packages/prettier-config                @goauthentik/frontend
packages/tsconfig                       @goauthentik/frontend
# Web
web/                                    @goauthentik/frontend
# Locale
locale/                                 @goauthentik/backend @goauthentik/frontend
web/xliff/                              @goauthentik/backend @goauthentik/frontend
# Docs
website/                                @goauthentik/docs
CODE_OF_CONDUCT.md                      @goauthentik/docs
# Security
SECURITY.md                             @goauthentik/security @goauthentik/docs
website/security/                       @goauthentik/security @goauthentik/docs

core: bump azure-core from 1.35.0 to v1.35.1
  uv.lock
Owners: @goauthentik/backend

core: bump azure-identity from 1.23.1 to v1.25.0
  uv.lock
Owners: @goauthentik/backend

core: bump boto3 from 1.40.2 to v1.40.31
  uv.lock
Owners: @goauthentik/backend

core: bump cffi from 1.17.1 to v2.0.0
  uv.lock
Owners: @goauthentik/backend

core: bump dnspython from 2.7.0 to v2.8.0
  uv.lock
Owners: @goauthentik/backend

core: bump httplib2 from 0.22.0 to v0.31.0
  uv.lock
Owners: @goauthentik/backend

core: bump jsii from 1.113.0 to v1.114.1
  uv.lock
Owners: @goauthentik/backend

core: bump jsonschema-specifications from 2025.4.1 to v2025.9.1
  uv.lock
Owners: @goauthentik/backend

core: bump microsoft-kiota-abstractions from 1.9.5 to v1.9.7
  uv.lock
Owners: @goauthentik/backend

core: bump microsoft-kiota-authentication-azure from 1.9.5 to v1.9.6
  uv.lock
Owners: @goauthentik/backend

core: bump microsoft-kiota-http from 1.9.5 to v1.9.6
  uv.lock
Owners: @goauthentik/backend

core: bump microsoft-kiota-serialization-form from 1.9.5 to v1.9.7
  uv.lock
Owners: @goauthentik/backend

core: bump microsoft-kiota-serialization-json from 1.9.5 to v1.9.7
  uv.lock
Owners: @goauthentik/backend

core: bump microsoft-kiota-serialization-multipart from 1.9.5 to v1.9.7
  uv.lock
Owners: @goauthentik/backend

core: bump microsoft-kiota-serialization-text from 1.9.5 to v1.9.7
  uv.lock
Owners: @goauthentik/backend

core: bump msgraph-core from 1.3.5 to v1.3.8
  uv.lock
Owners: @goauthentik/backend

core: bump opentelemetry-api from 1.36.0 to v1.37.0
  uv.lock
Owners: @goauthentik/backend

core: bump protobuf from 6.31.1 to v6.32.1
  uv.lock
Owners: @goauthentik/backend

core: bump pycparser from 2.22 to v2.23
  uv.lock
Owners: @goauthentik/backend

core: bump pynacl from 1.5.0 to v1.6.0
  uv.lock
Owners: @goauthentik/backend

core: bump pyparsing from 3.2.3 to v3.2.4
  uv.lock
Owners: @goauthentik/backend

core: bump trio from 0.30.0 to v0.31.0
  uv.lock
Owners: @goauthentik/backend

core: bump zope-event from 5.1.1 to v6.0
  uv.lock
Owners: @goauthentik/backend

core: bump zope-interface from 7.2 to v8.0
  uv.lock
Owners: @goauthentik/backend

format
  authentik/providers/scim/clients/users.py
Owners: @goauthentik/backend

sources/saml: add default error messages to exceptions (#15562)
  authentik/sources/saml/exceptions.py
Owners: @goauthentik/backend

stages: update friendly_name model from null to blank (#16672)
  authentik/enterprise/stages/authenticator_endpoint_gdtc/migrations/0002_alter_authenticatorendpointgdtcstage_friendly_name.py
  authentik/flows/models.py
  authentik/stages/authenticator_duo/migrations/0007_alter_authenticatorduostage_friendly_name.py
  authentik/stages/authenticator_email/migrations/0002_alter_authenticatoremailstage_friendly_name.py
  authentik/stages/authenticator_sms/migrations/0008_alter_authenticatorsmsstage_friendly_name.py
  authentik/stages/authenticator_static/migrations/0011_alter_authenticatorstaticstage_friendly_name.py
  authentik/stages/authenticator_totp/migrations/0012_alter_authenticatortotpstage_friendly_name.py
  authentik/stages/authenticator_webauthn/migrations/0014_alter_authenticatorwebauthnstage_friendly_name.py
  blueprints/schema.json
  schema.yml
Owners: @goauthentik/backend, @goauthentik/frontend

webiste/docs: improve user ref doc (#16779)
  website/docs/users-sources/user/user_ref.mdx
Owners: @goauthentik/docs

core: bump zope-interface from 7.2 to v8.0 (#16834)
  uv.lock
Owners: @goauthentik/backend

core: bump zope-event from 5.1.1 to v6.0 (#16833)
  uv.lock
Owners: @goauthentik/backend

core: bump trio from 0.30.0 to v0.31.0 (#16832)
  uv.lock
Owners: @goauthentik/backend

core: bump pyparsing from 3.2.3 to v3.2.4 (#16831)
  uv.lock
Owners: @goauthentik/backend

webiste/docs: improve user ref doc (#16779)
  website/docs/users-sources/user/user_ref.mdx
Owners: @goauthentik/docs

core: bump pynacl from 1.5.0 to v1.6.0 (#16830)
  uv.lock
Owners: @goauthentik/backend

core: bump pycparser from 2.22 to v2.23 (#16829)
  uv.lock
Owners: @goauthentik/backend

core: bump protobuf from 6.31.1 to v6.32.1 (#16828)
  uv.lock
Owners: @goauthentik/backend

core: bump opentelemetry-api from 1.36.0 to v1.37.0 (#16827)
  uv.lock
Owners: @goauthentik/backend

core: bump msgraph-core from 1.3.5 to v1.3.8 (#16826)
  uv.lock
Owners: @goauthentik/backend

core: bump microsoft-kiota-serialization-text from 1.9.5 to v1.9.7 (#16825)
  uv.lock
Owners: @goauthentik/backend

core: bump microsoft-kiota-serialization-multipart from 1.9.5 to v1.9.7 (#16824)
  uv.lock
Owners: @goauthentik/backend
