Repository goauthentik/authentik, changes with the owners that CODEOWNERS names for each.
All owners: @goauthentik/backend, @goauthentik/frontend, @goauthentik/infrastructure, @goauthentik/docs, @goauthentik/security

lifecycle: fix permission error when running worker as root
  lifecycle/ak
Owners: @goauthentik/backend

re-fix sentence about Go
  website/docs/developer-docs/contributing.md
Owners: @goauthentik/docs

website/docs: re-fix sentence about Go (#16736)
  website/docs/developer-docs/contributing.md
Owners: @goauthentik/docs

Cherry-pick #16736 to version-2025.8 (with conflicts)
  website/docs/developer-docs/contributing.md
Owners: @goauthentik/docs

fix maybe?
  lifecycle/ak
Owners: @goauthentik/backend

core: Normalize NPM script arguments. (#16725)
  Makefile
Owners: @goauthentik/infrastructure

fixed conflict
  website/docs/developer-docs/contributing.md
Owners: @goauthentik/docs

lifecycle: fix permission error when running worker as root (#16735)
  lifecycle/ak
Owners: @goauthentik/backend

web: Fixed null lastUsed and autofocus on TOTP login field
  web/src/flow/stages/authenticator_validate/AuthenticatorValidateStage.ts
  web/src/flow/stages/authenticator_validate/AuthenticatorValidateStageCode.ts
Owners: @goauthentik/frontend

web: Flesh out flow search clean up.
  web/src/admin/applications/components/ak-provider-search-input.ts
  web/src/admin/common/ak-core-group-search.ts
  web/src/admin/common/ak-crypto-certificate-search.ts
  web/src/admin/common/ak-flow-search/FlowSearch.ts
  web/src/admin/common/ak-flow-search/ak-branded-flow-search.ts
  web/src/admin/common/ak-flow-search/ak-flow-search-no-default.ts
  web/src/admin/common/ak-flow-search/ak-flow-search.ts
  web/src/admin/common/ak-flow-search/ak-source-flow-search.ts
  web/src/admin/providers/ldap/LDAPProviderFormForm.ts
  web/src/admin/providers/oauth2/OAuth2ProviderFormForm.ts
  web/src/admin/providers/oauth2/OAuth2ProviderViewPage.ts
  web/src/admin/providers/radius/RadiusProviderFormForm.ts
  web/src/components/DescriptionList.ts
  web/src/elements/forms/SearchSelect/SearchSelect.ts
  web/src/elements/forms/SearchSelect/ak-search-select-ez.ts
  web/src/elements/forms/SearchSelect/ak-search-select-view.ts
  web/src/elements/forms/SearchSelect/ak-search-select.ts
Owners: @goauthentik/frontend

web: Fix issues surrounding escape key in modals. Tidy properties.
  web/src/elements/ak-list-select/ak-list-select.ts
  web/src/elements/controllers/ModalOrchestrationController.ts
Owners: @goauthentik/frontend

web: Tidy properties, types.
  web/src/elements/forms/SearchSelect/SearchSelect.ts
  web/src/elements/forms/SearchSelect/ak-search-select-ez.ts
  web/src/elements/forms/SearchSelect/ak-search-select-view.ts
  web/src/elements/forms/SearchSelect/ak-search-select.ts
  web/src/elements/forms/SearchSelect/stories/ak-search-select.stories.ts
Owners: @goauthentik/frontend

web: Clean up types.
  web/src/admin/applications/components/ak-provider-search-input.ts
  web/src/admin/common/ak-flow-search/FlowSearch.ts
Owners: @goauthentik/frontend

web: Clarify labels for screen readers.
  web/src/admin/providers/ProviderListPage.ts
  web/src/admin/providers/ldap/LDAPProviderFormForm.ts
  web/src/admin/providers/oauth2/OAuth2ProviderFormForm.ts
  web/src/admin/providers/radius/RadiusProviderFormForm.ts
Owners: @goauthentik/frontend

web: Fix ARIA group behavior, labeling, input selectors.
  web/e2e/fixtures/FormFixture.ts
  web/e2e/fixtures/SessionFixture.ts
  web/src/components/HorizontalLightComponent.ts
  web/src/components/ak-hidden-text-input.ts
  web/src/components/ak-hidden-textarea-input.ts
  web/src/components/ak-number-input.ts
  web/src/components/ak-radio-input.ts
  web/src/components/ak-text-input.ts
  web/src/components/stories/ak-hidden-text-input.stories.ts
  web/src/components/stories/ak-hidden-textarea-input.stories.ts
  web/src/elements/forms/HorizontalFormElement.ts
  web/test/browser/providers.test.ts
Owners: @goauthentik/frontend

WIP
  website/docs/install-config/configuration/email.mdx
  website/docs/install-config/email.mdx
  website/docs/install-config/install/docker-compose.mdx
  website/docs/install-config/install/kubernetes.md
  website/docs/sidebar.mjs
Owners: @goauthentik/docs

WIP
  website/docs/install-config/email.mdx
  website/docs/install-config/install/docker-compose.mdx
Owners: @goauthentik/docs

WIP
  website/docs/install-config/email.mdx
Owners: @goauthentik/docs

Apply suggestions
  website/docs/users-sources/sources/directory-sync/freeipa/add_user_role.png
  website/docs/users-sources/sources/directory-sync/freeipa/index.md
  website/docs/users-sources/sources/directory-sync/freeipa/password_stage.png
  website/docs/users-sources/sources/directory-sync/freeipa/user_create.png
  website/docs/users-sources/sources/directory-sync/freeipa/user_roles.png
Owners: @goauthentik/docs

Add LDAP note
  website/docs/users-sources/sources/directory-sync/freeipa/index.md
Owners: @goauthentik/docs

WIP
  website/docs/install-config/email.mdx
Owners: @goauthentik/docs

WIP
  website/docs/install-config/install/kubernetes.md
Owners: @goauthentik/docs

Update website/docs/developer-docs/setup/frontend-dev-environment.md
  website/docs/developer-docs/setup/frontend-dev-environment.md
Owners: @goauthentik/docs

Remove uneeed slash
  website/integrations/infrastructure/semaphore/index.mdx
Owners: @goauthentik/docs

web: Use curated dictionary for e2e fixtures.
  web/e2e/utils/dictionaries/adjectives.txt
  web/e2e/utils/dictionaries/colors.txt
  web/e2e/utils/generators.ts
  web/package-lock.json
  web/package.json
  web/test/browser/providers.test.ts
Owners: @goauthentik/frontend

website/integrations: remove uneeed slash from semaphore doc (#16749)
  website/integrations/infrastructure/semaphore/index.mdx
Owners: @goauthentik/docs

Fix layout class for 'row' in LibraryPage
  web/src/user/LibraryPage/ak-library-application-list.ts
Owners: @goauthentik/frontend

Update doc
  website/integrations/chat-communication-collaboration/roundcube/index.md
Owners: @goauthentik/docs

variable names
  website/integrations/chat-communication-collaboration/roundcube/index.md
Owners: @goauthentik/docs

Add logout URL
  website/integrations/documentation/paperless-ngx/index.mdx
Owners: @goauthentik/docs

Applied suggestions
  website/integrations/chat-communication-collaboration/roundcube/index.md
Owners: @goauthentik/docs

Adds tabs, updates group name property mapping, fixes some language.
  website/integrations/networking/omada-controller/index.mdx
Owners: @goauthentik/docs

Update website/integrations/chat-communication-collaboration/roundcube/index.md
  website/integrations/chat-communication-collaboration/roundcube/index.md
Owners: @goauthentik/docs

WIP
  website/docs/install-config/email.mdx
Owners: @goauthentik/docs

Typo
  website/docs/install-config/email.mdx
Owners: @goauthentik/docs

WIP
  website/docs/install-config/email.mdx
Owners: @goauthentik/docs

Update website/docs/users-sources/sources/social-logins/telegram/index.md
  website/docs/users-sources/sources/social-logins/telegram/index.md
Owners: @goauthentik/docs

Update website/docs/users-sources/sources/social-logins/telegram/index.md
  website/docs/users-sources/sources/social-logins/telegram/index.md
Owners: @goauthentik/docs

sources/teleram: add tests for views
  authentik/sources/telegram/tests.py
Owners: @goauthentik/backend

sources/telegram: collapsed migrations
  authentik/sources/telegram/migrations/0001_initial.py
  authentik/sources/telegram/migrations/0002_alter_telegramsource_options_and_more.py
  authentik/sources/telegram/migrations/0003_telegramsourcepropertymapping.py
  authentik/sources/telegram/migrations/0004_grouptelegramsourceconnection_and_more.py
Owners: @goauthentik/backend

CODEOWNERS:

# Fallback
*                                       @goauthentik/backend @goauthentik/frontend
# Backend
authentik/                              @goauthentik/backend
blueprints/                             @goauthentik/backend
cmd/                                    @goauthentik/backend
internal/                               @goauthentik/backend
lifecycle/                              @goauthentik/backend
schemas/                                @goauthentik/backend
scripts/                                @goauthentik/backend
tests/                                  @goauthentik/backend
pyproject.toml                          @goauthentik/backend
uv.lock                                 @goauthentik/backend
go.mod                                  @goauthentik/backend
go.sum                                  @goauthentik/backend
# Infrastructure
.github/                                @goauthentik/infrastructure
lifecycle/aws/                          @goauthentik/infrastructure
Dockerfile                              @goauthentik/infrastructure
*Dockerfile                             @goauthentik/infrastructure
.dockerignore                           @goauthentik/infrastructure
docker-compose.yml                      @goauthentik/infrastructure
Makefile                                @goauthentik/infrastructure
.editorconfig                           @goauthentik/infrastructure
CODEOWNERS                              @goauthentik/infrastructure
# Backend packages
packages/django-dramatiq-postgres       @goauthentik/backend
# Web packages
packages/docusaurus-config              @goauthentik/frontend
packages/esbuild-plugin-live-reload     @goauthentik/frontend
packages/eslint-config                  @goauthentik/frontend
packages/prettier-config                @goauthentik/frontend
packages/tsconfig                       @goauthentik/frontend
# Web
web/                                    @goauthentik/frontend
# Locale
locale/                                 @goauthentik/backend @goauthentik/frontend
web/xliff/                              @goauthentik/backend @goauthentik/frontend
# Docs
website/                                @goauthentik/docs
CODE_OF_CONDUCT.md                      @goauthentik/docs
# Security
SECURITY.md                             @goauthentik/security @goauthentik/docs
website/security/                       @goauthentik/security @goauthentik/docs
