Repository goauthentik/authentik, changes with the owners that CODEOWNERS names for each.
All owners: @goauthentik/backend, @goauthentik/frontend, @goauthentik/infrastructure, @goauthentik/docs, @goauthentik/security

CODEOWNERS:

# Fallback
*                                       @goauthentik/backend @goauthentik/frontend
# Backend
authentik/                              @goauthentik/backend
blueprints/                             @goauthentik/backend
cmd/                                    @goauthentik/backend
internal/                               @goauthentik/backend
lifecycle/                              @goauthentik/backend
schemas/                                @goauthentik/backend
scripts/                                @goauthentik/backend
tests/                                  @goauthentik/backend
pyproject.toml                          @goauthentik/backend
uv.lock                                 @goauthentik/backend
go.mod                                  @goauthentik/backend
go.sum                                  @goauthentik/backend
# Infrastructure
.github/                                @goauthentik/infrastructure
lifecycle/aws/                          @goauthentik/infrastructure
Dockerfile                              @goauthentik/infrastructure
*Dockerfile                             @goauthentik/infrastructure
.dockerignore                           @goauthentik/infrastructure
docker-compose.yml                      @goauthentik/infrastructure
Makefile                                @goauthentik/infrastructure
.editorconfig                           @goauthentik/infrastructure
CODEOWNERS                              @goauthentik/infrastructure
# Backend packages
packages/django-dramatiq-postgres       @goauthentik/backend
# Web packages
packages/docusaurus-config              @goauthentik/frontend
packages/esbuild-plugin-live-reload     @goauthentik/frontend
packages/eslint-config                  @goauthentik/frontend
packages/prettier-config                @goauthentik/frontend
packages/tsconfig                       @goauthentik/frontend
# Web
web/                                    @goauthentik/frontend
# Locale
locale/                                 @goauthentik/backend @goauthentik/frontend
web/xliff/                              @goauthentik/backend @goauthentik/frontend
# Docs
website/                                @goauthentik/docs
CODE_OF_CONDUCT.md                      @goauthentik/docs
# Security
SECURITY.md                             @goauthentik/security @goauthentik/docs
website/security/                       @goauthentik/security @goauthentik/docs

sources/telegram: clean up code per @risson's suggestions
  authentik/sources/telegram/admin.py
  authentik/sources/telegram/api/source.py
  authentik/sources/telegram/migrations/0001_initial.py
  authentik/sources/telegram/models.py
  authentik/sources/telegram/stage.py
  authentik/sources/telegram/tests.py
  authentik/sources/telegram/views.py
  blueprints/schema.json
  schema.yml
  web/src/admin/sources/telegram/TelegramSourceForm.ts
  web/src/flow/sources/telegram/TelegramLogin.ts
Owners: @goauthentik/backend, @goauthentik/frontend

sources/telegram: put telegram user info into policy context (#2232)
  authentik/sources/telegram/views.py
Owners: @goauthentik/backend

sources/telegram: fix lint errors
  authentik/sources/telegram/admin.py
  authentik/sources/telegram/api/source.py
  authentik/sources/telegram/api/source_connection.py
  authentik/sources/telegram/models.py
  authentik/sources/telegram/stage.py
  authentik/sources/telegram/tests.py
  authentik/sources/telegram/urls.py
  authentik/sources/telegram/views.py
Owners: @goauthentik/backend

sources/telegram: replace regular input for bot token with a "secret" one (#2232)
  authentik/sources/telegram/api/source.py
  schema.yml
  web/src/admin/sources/telegram/TelegramSourceForm.ts
Owners: @goauthentik/backend, @goauthentik/frontend

sources/telegram: add user source settings UI so that the users can disconnect Telegram source from their account
  authentik/sources/telegram/models.py
  web/src/elements/user/sources/SourceSettings.ts
  web/src/elements/user/sources/SourceSettingsTelegram.ts
Owners: @goauthentik/backend, @goauthentik/frontend

Update website/docs/users-sources/sources/social-logins/telegram/index.md
  website/docs/users-sources/sources/social-logins/telegram/index.md
Owners: @goauthentik/docs

sources/telegram: fixed lint errors in docs
  website/docs/users-sources/sources/social-logins/telegram/index.md
Owners: @goauthentik/docs

Update website/docs/users-sources/sources/social-logins/telegram/index.md
  website/docs/users-sources/sources/social-logins/telegram/index.md
Owners: @goauthentik/docs

Update website/docs/users-sources/sources/social-logins/telegram/index.md
  website/docs/users-sources/sources/social-logins/telegram/index.md
Owners: @goauthentik/docs

Update website/docs/users-sources/sources/social-logins/telegram/index.md
  website/docs/users-sources/sources/social-logins/telegram/index.md
Owners: @goauthentik/docs

Update website/docs/users-sources/sources/social-logins/telegram/index.md
  website/docs/users-sources/sources/social-logins/telegram/index.md
Owners: @goauthentik/docs

Update website/docs/users-sources/sources/social-logins/telegram/index.md
  website/docs/users-sources/sources/social-logins/telegram/index.md
Owners: @goauthentik/docs

sources/telegram: improve docs based on @tanberry's suggestions
  website/docs/developer-docs/contributing.md
  website/docs/users-sources/sources/social-logins/telegram/index.md
Owners: @goauthentik/docs

sources/telegram: fix app config
  authentik/sources/telegram/apps.py
Owners: @goauthentik/backend

sources/telegram: fix typo on Telegram source form
  web/src/admin/sources/telegram/TelegramSourceForm.ts
Owners: @goauthentik/frontend

Update website/docs/users-sources/sources/social-logins/telegram/index.md
  website/docs/users-sources/sources/social-logins/telegram/index.md
Owners: @goauthentik/docs

sources/telegram: fix minor docs formatting issue
  website/docs/users-sources/sources/social-logins/telegram/index.md
Owners: @goauthentik/docs

sources/telegram: improved code layout
  authentik/sources/telegram/models.py
  authentik/sources/telegram/stage.py
  authentik/sources/telegram/tests.py
  authentik/sources/telegram/views.py
Owners: @goauthentik/backend

Update website/docs/users-sources/sources/social-logins/telegram/index.md
  website/docs/users-sources/sources/social-logins/telegram/index.md
Owners: @goauthentik/docs

Update website/docs/users-sources/sources/social-logins/telegram/index.md
  website/docs/users-sources/sources/social-logins/telegram/index.md
Owners: @goauthentik/docs

sources/telegram: added UserSourceConnection/GroupSourceConnection and SourceFlowManager subclasses for Telegram source
  authentik/sources/telegram/api/source_connection.py
  authentik/sources/telegram/migrations/0004_grouptelegramsourceconnection_and_more.py
  authentik/sources/telegram/models.py
  authentik/sources/telegram/tests.py
  authentik/sources/telegram/urls.py
  authentik/sources/telegram/views.py
  blueprints/schema.json
  schema.yml
Owners: @goauthentik/backend, @goauthentik/frontend

sources: add Telegram source (#2232)
  authentik/root/settings.py
  authentik/sources/telegram/__init__.py
  authentik/sources/telegram/admin.py
  authentik/sources/telegram/api/__init__.py
  authentik/sources/telegram/api/property_mappings.py
  authentik/sources/telegram/api/source.py
  authentik/sources/telegram/apps.py
  authentik/sources/telegram/migrations/0001_initial.py
  authentik/sources/telegram/migrations/0002_alter_telegramsource_options_and_more.py
  authentik/sources/telegram/migrations/0003_telegramsourcepropertymapping.py
  authentik/sources/telegram/migrations/__init__.py
  authentik/sources/telegram/models.py
  authentik/sources/telegram/tests.py
  authentik/sources/telegram/urls.py
  authentik/sources/telegram/views.py
  blueprints/schema.json
  schema.yml
  web/authentik/sources/telegram.svg
  web/src/admin/property-mappings/PropertyMappingListPage.ts
  web/src/admin/property-mappings/PropertyMappingSourceTelegramForm.ts
  web/src/admin/property-mappings/PropertyMappingWizard.ts
  web/src/admin/sources/SourceViewPage.ts
  web/src/admin/sources/SourceWizard.ts
  web/src/admin/sources/telegram/TelegramSourceForm.ts
  web/src/admin/sources/telegram/TelegramSourceFormHelpers.ts
  web/src/admin/sources/telegram/TelegramSourceViewPage.ts
  web/src/flow/FlowExecutor.ts
  web/src/flow/sources/telegram/TelegramLogin.ts
  website/docs/developer-docs/contributing.md
  website/docs/sidebar.mjs
  website/docs/users-sources/sources/social-logins/telegram/index.md
Owners: @goauthentik/backend, @goauthentik/frontend, @goauthentik/docs

Update website/docs/users-sources/sources/social-logins/telegram/index.md
  website/docs/users-sources/sources/social-logins/telegram/index.md
Owners: @goauthentik/docs

Update website/docs/users-sources/sources/social-logins/telegram/index.md
  website/docs/users-sources/sources/social-logins/telegram/index.md
Owners: @goauthentik/docs

Update website/docs/users-sources/sources/social-logins/telegram/index.md
  website/docs/users-sources/sources/social-logins/telegram/index.md
Owners: @goauthentik/docs

sources/telegram: add check for source.enabled in the redirect view
  authentik/sources/telegram/views.py
Owners: @goauthentik/backend

sources/telegram: add pre-authentication flow to telegram source
  authentik/sources/telegram/api/source.py
  authentik/sources/telegram/migrations/0001_initial.py
  authentik/sources/telegram/models.py
  authentik/sources/telegram/tests.py
  authentik/sources/telegram/views.py
  blueprints/schema.json
  schema.yml
  web/src/admin/sources/telegram/TelegramSourceForm.ts
Owners: @goauthentik/backend, @goauthentik/frontend

sources/telegram: update serielizer field types references to be in line with convention
  authentik/sources/telegram/stage.py
Owners: @goauthentik/backend

sources/telegram: add missing type annotations
  authentik/sources/telegram/stage.py
  authentik/sources/telegram/views.py
Owners: @goauthentik/backend

lib/logging: only show locals when in debug mode
  authentik/lib/logging.py
Owners: @goauthentik/backend

readme: Remove Docker pulls badge (#16707)
  README.md
Owners: @goauthentik/backend, @goauthentik/frontend

WIP
  website/integrations/networking/omada-controller/index.mdx
Owners: @goauthentik/docs

web: Flush logs on SIGINT.
  web/scripts/build-web.mjs
Owners: @goauthentik/frontend

lib/logging: only show locals when in debug mode (#16772)
  authentik/lib/logging.py
Owners: @goauthentik/backend

lib/logging: only show locals when in debug mode (#16772)
  authentik/lib/logging.py
Owners: @goauthentik/backend

lib/logging: only show locals when in debug mode (#16772)
  authentik/lib/logging.py
Owners: @goauthentik/backend

WIP
  website/integrations/networking/omada-controller/index.mdx
Owners: @goauthentik/docs

web: Fix repeated copy alert overlapping input.
  web/src/flow/stages/authenticator_totp/AuthenticatorTOTPStage.ts
Owners: @goauthentik/frontend

web: Fix null `lastUsed` property in request payload.
  web/src/flow/stages/authenticator_validate/AuthenticatorValidateStage.ts
Owners: @goauthentik/frontend

sources/oauth/entra_id: do not assume group_id comes from entra (#16456)
  authentik/sources/oauth/types/entra_id.py
Owners: @goauthentik/backend
