Repository goauthentik/authentik, changes with the owners that CODEOWNERS names for each.
All owners: @goauthentik/backend, @goauthentik/frontend, @goauthentik/infrastructure, @goauthentik/docs, @goauthentik/security

WIP
  website/docs/users-sources/sources/directory-sync/freeipa/index.md
Owners: @goauthentik/docs

WIP
  website/docs/users-sources/sources/directory-sync/freeipa/index.md
Owners: @goauthentik/docs

Fix link
  website/docs/users-sources/sources/protocols/saml/index.md
Owners: @goauthentik/docs

Update website/docs/add-secure-apps/providers/saml/index.md
  website/docs/add-secure-apps/providers/saml/index.md
Owners: @goauthentik/docs

Update website/docs/add-secure-apps/providers/saml/index.md
  website/docs/add-secure-apps/providers/saml/index.md
Owners: @goauthentik/docs

Improved opening paragraph
  website/docs/add-secure-apps/providers/saml/index.md
Owners: @goauthentik/docs

Update website/docs/add-secure-apps/providers/saml/index.md
  website/docs/add-secure-apps/providers/saml/index.md
Owners: @goauthentik/docs

Update website/docs/add-secure-apps/providers/saml/index.md
  website/docs/add-secure-apps/providers/saml/index.md
Owners: @goauthentik/docs

Update website/docs/add-secure-apps/providers/saml/index.md
  website/docs/add-secure-apps/providers/saml/index.md
Owners: @goauthentik/docs

Apply suggestions from code review
  website/docs/add-secure-apps/providers/saml/index.md
Owners: @goauthentik/docs

Apply suggestions
  website/integrations/media/tautulli/index.md
Owners: @goauthentik/docs

Improved sentence
  website/docs/add-secure-apps/providers/saml/index.md
Owners: @goauthentik/docs

Apply suggestions from code review
  website/integrations/media/tautulli/index.md
Owners: @goauthentik/docs

Applied suggestions
  website/integrations/media/tautulli/index.md
Owners: @goauthentik/docs

website/docs: moves display source notes (#16704)
  website/docs/users-sources/sources/social-logins/entra-id/index.mdx
  website/docs/users-sources/sources/social-logins/google/cloud/index.md
  website/docs/users-sources/sources/social-logins/google/workspace/index.md
Owners: @goauthentik/docs

website/docs: moves display source notes (#16704)
  website/docs/users-sources/sources/social-logins/entra-id/index.mdx
  website/docs/users-sources/sources/social-logins/google/cloud/index.md
  website/docs/users-sources/sources/social-logins/google/workspace/index.md
Owners: @goauthentik/docs

website/docs: fix typos (#16716)
  website/docs/add-secure-apps/applications/index.md
  website/docs/add-secure-apps/providers/proxy/header_authentication.mdx
  website/docs/install-config/install/docker-compose.mdx
  website/docs/install-config/install/kubernetes.md
  website/docs/releases/2025/v2025.8.mdx
  website/docs/security/cves/CVE-2023-48228.md
  website/docs/sys-mgmt/events/logging-events.md
  website/docs/sys-mgmt/tenancy.md
  website/docs/users-sources/user/user_basic_operations.md
Owners: @goauthentik/docs

website/docs: fix typos (#16716)
  website/docs/add-secure-apps/applications/index.md
  website/docs/add-secure-apps/providers/proxy/header_authentication.mdx
  website/docs/install-config/install/docker-compose.mdx
  website/docs/install-config/install/kubernetes.md
  website/docs/releases/2025/v2025.8.mdx
  website/docs/security/cves/CVE-2023-48228.md
  website/docs/sys-mgmt/events/logging-events.md
  website/docs/sys-mgmt/tenancy.md
  website/docs/users-sources/user/user_basic_operations.md
Owners: @goauthentik/docs

website/docs: update ssh rac doc (#16695)
  website/docs/add-secure-apps/providers/rac/rac-public-key.md
Owners: @goauthentik/docs

website/docs: update ssh rac doc (#16695)
  website/docs/add-secure-apps/providers/rac/rac-public-key.md
Owners: @goauthentik/docs

website: add powershell syntax highlighting and bump package (#16683)
  packages/docusaurus-config/lib/theme.js
  packages/docusaurus-config/package-lock.json
  packages/docusaurus-config/package.json
Owners: @goauthentik/frontend

website: add powershell syntax highlighting and bump package (#16683)
  packages/docusaurus-config/lib/theme.js
  packages/docusaurus-config/package-lock.json
  packages/docusaurus-config/package.json
Owners: @goauthentik/frontend

website: Bump @goauthentik/docusaurus-config
  website/api/package.json
  website/docs/package.json
  website/docusaurus-theme/package.json
  website/integrations/package.json
  website/package-lock.json
Owners: @goauthentik/docs

web: Flush logs on SIGINT.
  web/scripts/build-web.mjs
Owners: @goauthentik/frontend

core: Normalize NPM script arguments.
  Makefile
Owners: @goauthentik/infrastructure

remove reference to Go migration
  website/docs/developer-docs/contributing.md
Owners: @goauthentik/docs

website/docs: remove reference to Go migration (#16724)
  website/docs/developer-docs/contributing.md
Owners: @goauthentik/docs

Cherry-pick #16724 to version-2025.8 (with conflicts)
  website/docs/developer-docs/index.md
Owners: @goauthentik/docs

Add http and port to k8s step
  website/integrations/media/tautulli/index.md
Owners: @goauthentik/docs

Add email section and link to it from install guide Co-authored-by: Andrew Berry <andrew@furrypaws.ca> Co-authored-by: dewi-tik <dewi@goauthentik.io>
  website/docs/install-config/configuration/email.mdx
  website/docs/install-config/install/docker-compose.mdx
Owners: @goauthentik/docs

WIP
  website/docs/install-config/configuration/email.mdx
Owners: @goauthentik/docs

packages/django-dramatiq-postgres: fix error when updating task with no changes
  packages/django-dramatiq-postgres/django_dramatiq_postgres/middleware.py
Owners: @goauthentik/backend

core: Fix middlware race condition induced crash (#16705)
  authentik/events/middleware.py
  authentik/rbac/middleware.py
Owners: @goauthentik/backend

Change to preventing import instead of export
  authentik/blueprints/v1/importer.py
  blueprints/schema.json
  schema.yml
Owners: @goauthentik/backend, @goauthentik/frontend

website: Bump @goauthentik/docusaurus-config (#16722)
  website/api/package.json
  website/docs/package.json
  website/docusaurus-theme/package.json
  website/integrations/package.json
  website/package-lock.json
Owners: @goauthentik/docs

updated Frontend development environment contributor docs
  website/docs/developer-docs/setup/frontend-dev-environment.md
Owners: @goauthentik/docs

web: Docker versioning compatibility (#16139)
  website/docs/developer-docs/setup/frontend-dev-environment.md
Owners: @goauthentik/docs

website/integrations: update tautulli doc (#16717)
  website/integrations/media/tautulli/index.md
  website/integrations/media/tautulli/tautulli.png
Owners: @goauthentik/docs

Apply suggestions from code review
  website/docs/users-sources/sources/directory-sync/freeipa/index.md
Owners: @goauthentik/docs

website/docs: dev-docs: Minimal landing + landing for dev env (#15246)
  website/docs/developer-docs/contributing.md
  website/docs/developer-docs/index.mdx
  website/docs/developer-docs/setup/index.mdx
  website/docs/index.mdx
  website/docs/sidebar.mjs
Owners: @goauthentik/docs

CODEOWNERS:

# Fallback
*                                       @goauthentik/backend @goauthentik/frontend
# Backend
authentik/                              @goauthentik/backend
blueprints/                             @goauthentik/backend
cmd/                                    @goauthentik/backend
internal/                               @goauthentik/backend
lifecycle/                              @goauthentik/backend
schemas/                                @goauthentik/backend
scripts/                                @goauthentik/backend
tests/                                  @goauthentik/backend
pyproject.toml                          @goauthentik/backend
uv.lock                                 @goauthentik/backend
go.mod                                  @goauthentik/backend
go.sum                                  @goauthentik/backend
# Infrastructure
.github/                                @goauthentik/infrastructure
lifecycle/aws/                          @goauthentik/infrastructure
Dockerfile                              @goauthentik/infrastructure
*Dockerfile                             @goauthentik/infrastructure
.dockerignore                           @goauthentik/infrastructure
docker-compose.yml                      @goauthentik/infrastructure
Makefile                                @goauthentik/infrastructure
.editorconfig                           @goauthentik/infrastructure
CODEOWNERS                              @goauthentik/infrastructure
# Backend packages
packages/django-dramatiq-postgres       @goauthentik/backend
# Web packages
packages/docusaurus-config              @goauthentik/frontend
packages/esbuild-plugin-live-reload     @goauthentik/frontend
packages/eslint-config                  @goauthentik/frontend
packages/prettier-config                @goauthentik/frontend
packages/tsconfig                       @goauthentik/frontend
# Web
web/                                    @goauthentik/frontend
# Locale
locale/                                 @goauthentik/backend @goauthentik/frontend
web/xliff/                              @goauthentik/backend @goauthentik/frontend
# Docs
website/                                @goauthentik/docs
CODE_OF_CONDUCT.md                      @goauthentik/docs
# Security
SECURITY.md                             @goauthentik/security @goauthentik/docs
website/security/                       @goauthentik/security @goauthentik/docs
