Repository goauthentik/authentik, changes with the owners that CODEOWNERS names for each.
All owners: @goauthentik/backend, @goauthentik/frontend, @goauthentik/infrastructure, @goauthentik/docs, @goauthentik/security

CODEOWNERS:

# Fallback
*                                       @goauthentik/backend @goauthentik/frontend
# Backend
authentik/                              @goauthentik/backend
blueprints/                             @goauthentik/backend
cmd/                                    @goauthentik/backend
internal/                               @goauthentik/backend
lifecycle/                              @goauthentik/backend
schemas/                                @goauthentik/backend
scripts/                                @goauthentik/backend
tests/                                  @goauthentik/backend
pyproject.toml                          @goauthentik/backend
uv.lock                                 @goauthentik/backend
go.mod                                  @goauthentik/backend
go.sum                                  @goauthentik/backend
# Infrastructure
.github/                                @goauthentik/infrastructure
lifecycle/aws/                          @goauthentik/infrastructure
Dockerfile                              @goauthentik/infrastructure
*Dockerfile                             @goauthentik/infrastructure
.dockerignore                           @goauthentik/infrastructure
docker-compose.yml                      @goauthentik/infrastructure
Makefile                                @goauthentik/infrastructure
.editorconfig                           @goauthentik/infrastructure
CODEOWNERS                              @goauthentik/infrastructure
# Backend packages
packages/django-dramatiq-postgres       @goauthentik/backend
# Web packages
packages/docusaurus-config              @goauthentik/frontend
packages/esbuild-plugin-live-reload     @goauthentik/frontend
packages/eslint-config                  @goauthentik/frontend
packages/prettier-config                @goauthentik/frontend
packages/tsconfig                       @goauthentik/frontend
# Web
web/                                    @goauthentik/frontend
# Locale
locale/                                 @goauthentik/backend @goauthentik/frontend
web/xliff/                              @goauthentik/backend @goauthentik/frontend
# Docs
website/                                @goauthentik/docs
CODE_OF_CONDUCT.md                      @goauthentik/docs
# Security
SECURITY.md                             @goauthentik/security @goauthentik/docs
website/security/                       @goauthentik/security @goauthentik/docs

web: Add placeholder attribute.
  web/src/elements/ak-dual-select/ak-dual-select.ts
  web/src/elements/ak-dual-select/components/ak-search-bar.ts
Owners: @goauthentik/frontend

web: Clean up usage of nullish attributes directive.
  web/src/admin/admin-settings/AdminSettingsFooterLinks.ts
  web/src/admin/applications/ApplicationForm.ts
  web/src/admin/applications/ApplicationListPage.ts
  web/src/admin/applications/ApplicationViewPage.ts
  web/src/admin/applications/components/ak-provider-search-input.ts
  web/src/admin/common/ak-crypto-certificate-search.ts
  web/src/admin/providers/oauth2/OAuth2ProviderFormForm.ts
  web/src/admin/providers/oauth2/OAuth2ProviderRedirectURI.ts
  web/src/admin/providers/ssf/SSFProviderFormPage.ts
  web/src/admin/users/UserApplicationTable.ts
  web/src/components/ak-hidden-text-input.ts
  web/src/components/ak-hidden-textarea-input.ts
  web/src/components/ak-number-input.ts
  web/src/components/ak-secret-text-input.ts
  web/src/components/ak-secret-textarea-input.ts
  web/src/components/ak-text-input.ts
  web/src/components/stories/ak-hidden-text-input.stories.ts
  web/src/components/stories/ak-hidden-textarea-input.stories.ts
  web/src/elements/forms/SearchSelect/SearchSelect.ts
  web/src/elements/table/TableColumn.ts
  web/src/elements/types.ts
  web/src/elements/utils/attributes.ts
  web/src/elements/utils/ifNotEmpty.ts
  web/src/user/LibraryApplication/index.ts
Owners: @goauthentik/frontend

web: touch up comment.
  web/src/elements/forms/SearchSelect/SearchSelect.ts
Owners: @goauthentik/frontend

web: add middleware to propagate locale header
  web/src/common/api/config.ts
  web/src/common/api/middleware.ts
Owners: @goauthentik/frontend

add Locale middleware
  authentik/root/settings.py
Owners: @goauthentik/backend

extract
  authentik/stages/identification/stage.py
  locale/en/LC_MESSAGES/django.po
Owners: @goauthentik/backend, @goauthentik/frontend

Update web/src/common/api/middleware.ts
  web/src/common/api/middleware.ts
Owners: @goauthentik/frontend

web: Fix role matching, test selectors, etc.
  web/src/elements/Tabs.ts
  web/src/user/LibraryPage/ak-library-application-search.ts
  web/src/user/LibraryPage/ak-library-impl.ts
  web/src/user/user-settings/UserSettingsPage.ts
Owners: @goauthentik/frontend

web: Fix typo.
  web/src/elements/utils/attributes.ts
Owners: @goauthentik/frontend

web: Remove redundant clean up.
  web/src/elements/ak-list-select/ak-list-select.ts
Owners: @goauthentik/frontend

web: Ignore spellchecking of Playwright output.
  pyproject.toml
Owners: @goauthentik/backend

api: Fix locale propagation from ?locale parameter in frontend (#16857)
  authentik/root/settings.py
  authentik/stages/identification/stage.py
  locale/en/LC_MESSAGES/django.po
  web/src/common/api/config.ts
  web/src/common/api/middleware.ts
Owners: @goauthentik/backend, @goauthentik/frontend

web: bump tmp package.
  web/package-lock.json
Owners: @goauthentik/frontend

web: Normalize tab attributes.
  web/src/admin/admin-overview/SystemTasksPage.ts
  web/src/admin/applications/ApplicationViewPage.ts
  web/src/admin/flows/FlowViewPage.ts
  web/src/admin/groups/GroupViewPage.ts
  web/src/admin/providers/google_workspace/GoogleWorkspaceProviderViewPage.ts
  web/src/admin/providers/ldap/LDAPProviderViewPage.ts
  web/src/admin/providers/microsoft_entra/MicrosoftEntraProviderViewPage.ts
  web/src/admin/providers/oauth2/OAuth2ProviderViewPage.ts
  web/src/admin/providers/proxy/ProxyProviderViewPage.ts
  web/src/admin/providers/rac/RACProviderViewPage.ts
  web/src/admin/providers/radius/RadiusProviderViewPage.ts
  web/src/admin/providers/saml/SAMLProviderViewPage.ts
  web/src/admin/providers/scim/SCIMProviderViewPage.ts
  web/src/admin/providers/ssf/SSFProviderViewPage.ts
  web/src/admin/rbac/ObjectPermissionsPage.ts
  web/src/admin/roles/RoleViewPage.ts
  web/src/admin/sources/kerberos/KerberosSourceViewPage.ts
  web/src/admin/sources/ldap/LDAPSourceViewPage.ts
  web/src/admin/sources/oauth/OAuthSourceViewPage.ts
  web/src/admin/sources/plex/PlexSourceViewPage.ts
  web/src/admin/sources/saml/SAMLSourceViewPage.ts
  web/src/admin/sources/scim/SCIMSourceViewPage.ts
  web/src/admin/users/UserViewPage.ts
  web/src/elements/Tabs.ts
Owners: @goauthentik/frontend

web: Use main role wrapper.
  web/src/admin/admin-overview/SystemTasksPage.ts
  web/src/admin/applications/ApplicationViewPage.ts
  web/src/admin/flows/FlowViewPage.ts
  web/src/admin/groups/GroupViewPage.ts
  web/src/admin/providers/google_workspace/GoogleWorkspaceProviderViewPage.ts
  web/src/admin/providers/ldap/LDAPProviderViewPage.ts
  web/src/admin/providers/microsoft_entra/MicrosoftEntraProviderViewPage.ts
  web/src/admin/providers/oauth2/OAuth2ProviderViewPage.ts
  web/src/admin/providers/proxy/ProxyProviderViewPage.ts
  web/src/admin/providers/rac/RACProviderViewPage.ts
  web/src/admin/providers/radius/RadiusProviderViewPage.ts
  web/src/admin/providers/saml/SAMLProviderViewPage.ts
  web/src/admin/providers/scim/SCIMProviderViewPage.ts
  web/src/admin/providers/ssf/SSFProviderViewPage.ts
  web/src/admin/rbac/ObjectPermissionsPage.ts
  web/src/admin/roles/RoleViewPage.ts
  web/src/admin/sources/kerberos/KerberosSourceViewPage.ts
  web/src/admin/sources/ldap/LDAPSourceViewPage.ts
  web/src/admin/sources/oauth/OAuthSourceViewPage.ts
  web/src/admin/sources/plex/PlexSourceViewPage.ts
  web/src/admin/sources/saml/SAMLSourceViewPage.ts
  web/src/admin/sources/scim/SCIMSourceViewPage.ts
  web/src/admin/users/UserViewPage.ts
  web/src/user/user-settings/UserSettingsPage.ts
Owners: @goauthentik/frontend

web: Ignore spellchecking of Playwright output. (#16862)
  pyproject.toml
Owners: @goauthentik/backend

website/docs: extends the example to include `jwt_config` for matrix/synapse (#16860)
  website/integrations/chat-communication-collaboration/matrix-synapse/index.md
Owners: @goauthentik/docs

wip
  authentik/outposts/migrations/0022_outpostproxysession.py
  authentik/outposts/migrations/0023_outpostproxysession_session_data.py
  authentik/outposts/models.py
  docker-compose.outposttest.yml
  go.mod
  go.sum
  internal/config/struct.go
  internal/outpost/proxyv2/application/auth.go
  internal/outpost/proxyv2/application/claims.go
  internal/outpost/proxyv2/application/oauth_callback.go
  internal/outpost/proxyv2/application/session.go
  internal/outpost/proxyv2/application/session_postgres_test.go
  internal/outpost/proxyv2/postgresstore/postgresstore.go
  internal/outpost/proxyv2/postgresstore/postgresstore_test.go
  internal/outpost/proxyv2/redisstore/LICENSE
  internal/outpost/proxyv2/redisstore/redisstore.go
  internal/outpost/proxyv2/redisstore/redisstore_test.go
  internal/outpost/proxyv2/types/claims.go
  nginx-outpost-test.conf
Owners: @goauthentik/backend, @goauthentik/frontend

mv
  authentik/outposts/migrations/0023_outpostproxysession_session_data.py
  authentik/outposts/models.py
  authentik/providers/proxy/migrations/0016_outpostproxysession.py
  authentik/providers/proxy/models.py
Owners: @goauthentik/backend

web: Clarify required marker when using screen reader.
  web/src/common/styles/authentik.css
Owners: @goauthentik/frontend

web: Mark helper text as input descriptor.
  web/src/components/HorizontalLightComponent.ts
  web/src/components/ak-text-input.ts
Owners: @goauthentik/frontend

web: Use next domain when in development.
  web/bundler/utils/node.js
  web/package-lock.json
  web/packages/core/package.json
  web/packages/core/types/node.d.ts
  web/packages/core/version/index.js
  web/packages/core/version/node.js
  web/scripts/build-web.mjs
  web/src/admin/admin-overview/AdminOverviewPage.ts
  web/src/admin/blueprints/BlueprintForm.ts
  web/src/admin/enterprise/EnterpriseLicenseListPage.ts
  web/src/admin/outposts/OutpostDeploymentModal.ts
  web/src/admin/outposts/OutpostForm.ts
  web/src/admin/policies/expression/ExpressionPolicyForm.ts
  web/src/admin/property-mappings/BasePropertyMappingForm.ts
  web/src/admin/property-mappings/PropertyMappingProviderRACForm.ts
  web/src/admin/property-mappings/PropertyMappingSourceKerberosForm.ts
  web/src/admin/property-mappings/PropertyMappingSourceLDAPForm.ts
  web/src/admin/property-mappings/PropertyMappingSourceOAuthForm.ts
  web/src/admin/property-mappings/PropertyMappingSourcePlexForm.ts
  web/src/admin/property-mappings/PropertyMappingSourceSAMLForm.ts
  web/src/admin/property-mappings/PropertyMappingSourceSCIMForm.ts
  web/src/common/global.ts
  web/src/elements/ak-mdx/components/MDXAnchor.tsx
  web/src/elements/cards/QuickActionsCard.ts
  web/src/user/LibraryPage/ak-library-application-empty-list.ts
  web/types/esbuild.d.ts
Owners: @goauthentik/frontend

web: Add button labels.
  web/src/admin/blueprints/BlueprintListPage.ts
  web/src/admin/rbac/ObjectPermissionModal.ts
  web/src/elements/buttons/SpinnerButton/BaseTaskButton.ts
Owners: @goauthentik/frontend

pgquote
  go.mod
  go.sum
  internal/outpost/proxyv2/postgresstore/postgresstore.go
Owners: @goauthentik/backend

web: Fix column alignment on smaller screens. Adjust actions margins.
  web/src/common/styles/theme-dark.css
  web/src/elements/table/Table.ts
Owners: @goauthentik/frontend

web: Fix issue where sidebar entries are out of viewport. Fix expansion state.
  web/src/elements/sidebar/SidebarItem.ts
Owners: @goauthentik/frontend

start oidc but not finished
  website/integrations/media/jellyfin/index.mdx
Owners: @goauthentik/docs
