Repository goauthentik/authentik, changes with the owners that CODEOWNERS names for each.
All owners: @goauthentik/backend, @goauthentik/frontend, @goauthentik/infrastructure, @goauthentik/docs, @goauthentik/security

CODEOWNERS:

# Fallback
*                                       @goauthentik/backend @goauthentik/frontend
# Backend
authentik/                              @goauthentik/backend
blueprints/                             @goauthentik/backend
cmd/                                    @goauthentik/backend
internal/                               @goauthentik/backend
lifecycle/                              @goauthentik/backend
schemas/                                @goauthentik/backend
scripts/                                @goauthentik/backend
tests/                                  @goauthentik/backend
pyproject.toml                          @goauthentik/backend
uv.lock                                 @goauthentik/backend
go.mod                                  @goauthentik/backend
go.sum                                  @goauthentik/backend
# Infrastructure
.github/                                @goauthentik/infrastructure
lifecycle/aws/                          @goauthentik/infrastructure
Dockerfile                              @goauthentik/infrastructure
*Dockerfile                             @goauthentik/infrastructure
.dockerignore                           @goauthentik/infrastructure
docker-compose.yml                      @goauthentik/infrastructure
Makefile                                @goauthentik/infrastructure
.editorconfig                           @goauthentik/infrastructure
CODEOWNERS                              @goauthentik/infrastructure
# Backend packages
packages/django-dramatiq-postgres       @goauthentik/backend
# Web packages
packages/docusaurus-config              @goauthentik/frontend
packages/esbuild-plugin-live-reload     @goauthentik/frontend
packages/eslint-config                  @goauthentik/frontend
packages/prettier-config                @goauthentik/frontend
packages/tsconfig                       @goauthentik/frontend
# Web
web/                                    @goauthentik/frontend
# Locale
locale/                                 @goauthentik/backend @goauthentik/frontend
web/xliff/                              @goauthentik/backend @goauthentik/frontend
# Docs
website/                                @goauthentik/docs
CODE_OF_CONDUCT.md                      @goauthentik/docs
# Security
SECURITY.md                             @goauthentik/security @goauthentik/docs
website/security/                       @goauthentik/security @goauthentik/docs

core: bump microsoft-kiota-serialization-json from 1.9.5 to v1.9.7 (#16823)
  uv.lock
Owners: @goauthentik/backend

core: bump microsoft-kiota-serialization-form from 1.9.5 to v1.9.7 (#16822)
  uv.lock
Owners: @goauthentik/backend

core: bump microsoft-kiota-http from 1.9.5 to v1.9.6 (#16821)
  uv.lock
Owners: @goauthentik/backend

core: bump microsoft-kiota-authentication-azure from 1.9.5 to v1.9.6 (#16820)
  uv.lock
Owners: @goauthentik/backend

core: bump jsonschema-specifications from 2025.4.1 to v2025.9.1 (#16818)
  uv.lock
Owners: @goauthentik/backend

core: bump jsii from 1.113.0 to v1.114.1 (#16817)
  uv.lock
Owners: @goauthentik/backend

core: bump httplib2 from 0.22.0 to v0.31.0 (#16816)
  uv.lock
Owners: @goauthentik/backend

core: bump dnspython from 2.7.0 to v2.8.0 (#16815)
  uv.lock
Owners: @goauthentik/backend

core: bump cffi from 1.17.1 to v2.0.0 (#16814)
  uv.lock
Owners: @goauthentik/backend

core: bump boto3 from 1.40.2 to v1.40.31 (#16813)
  uv.lock
Owners: @goauthentik/backend

core: bump azure-identity from 1.23.1 to v1.25.0 (#16812)
  uv.lock
Owners: @goauthentik/backend

core: bump azure-core from 1.35.0 to v1.35.1 (#16811)
  uv.lock
Owners: @goauthentik/backend

Remove comments
  website/docusaurus-theme/theme/DocSidebarItems/styles.css
Owners: @goauthentik/docs

WIP
  website/docs/releases/2025/v2025.4.md
Owners: @goauthentik/docs

providers/scim: fix string formatting for SCIM user filter (#16465)
  authentik/providers/scim/clients/users.py
Owners: @goauthentik/backend

providers/scim: fix string formatting for SCIM user filter (#16465)
  authentik/providers/scim/clients/users.py
Owners: @goauthentik/backend

Update kubernetes.md
  website/docs/install-config/install/kubernetes.md
Owners: @goauthentik/docs

web: Flush logs on SIGINT. (#16723)
  web/scripts/build-web.mjs
Owners: @goauthentik/frontend

web: Flesh out a11y clean up.
  web/src/elements/table/Table.ts
  web/src/elements/table/TableColumn.ts
Owners: @goauthentik/frontend

web: Clean up types.
  web/src/common/utils.ts
Owners: @goauthentik/frontend

Flesh out property.
  web/src/elements/table/Table.ts
Owners: @goauthentik/frontend

web: Clean up stateful issues. Add labels.
  web/src/elements/table/Table.ts
Owners: @goauthentik/frontend

web: Fix text selection.
  web/src/elements/buttons/ModalButton.ts
Owners: @goauthentik/frontend

web: Fix nesting of region base elements.
  web/src/admin/AdminInterface/index.entrypoint.ts
  web/src/admin/applications/ApplicationListPage.ts
  web/src/admin/users/UserListPage.ts
  web/src/elements/table/TablePage.ts
Owners: @goauthentik/frontend

web: Add labels to hidden columns.
  web/src/admin/applications/ApplicationListPage.ts
  web/src/elements/table/Table.ts
  web/src/elements/table/TableColumn.ts
Owners: @goauthentik/frontend

web: Use common timestamp component.
  web/src/admin/admin-overview/cards/RecentEventsCard.ts
  web/src/admin/blueprints/BlueprintListPage.ts
  web/src/admin/enterprise/EnterpriseLicenseListPage.ts
  web/src/admin/events/EventListPage.ts
  web/src/admin/events/EventViewPage.ts
  web/src/admin/groups/MemberSelectModal.ts
  web/src/admin/groups/RelatedUserList.ts
  web/src/admin/policies/reputation/ReputationListPage.ts
  web/src/admin/tokens/TokenListPage.ts
  web/src/admin/users/UserDevicesTable.ts
  web/src/admin/users/UserListPage.ts
  web/src/admin/users/UserViewPage.ts
  web/src/components/events/ObjectChangelog.ts
  web/src/components/events/UserEvents.ts
  web/src/elements/oauth/UserAccessTokenList.ts
  web/src/elements/oauth/UserRefreshTokenList.ts
  web/src/elements/table/shared.ts
  web/src/elements/tasks/ScheduleList.ts
  web/src/elements/tasks/TaskList.ts
  web/src/elements/user/SessionList.ts
  web/src/elements/user/UserConsentList.ts
  web/src/elements/user/UserReputationList.ts
  web/src/user/user-settings/mfa/MFADevicesPage.ts
Owners: @goauthentik/frontend

web: Add aria label to row actions.
  web/src/admin/applications/ApplicationListPage.ts
  web/src/admin/applications/entitlements/ApplicationEntitlementPage.ts
  web/src/admin/applications/wizard/steps/ak-application-wizard-bindings-step.ts
  web/src/admin/blueprints/BlueprintListPage.ts
  web/src/admin/brands/BrandListPage.ts
  web/src/admin/crypto/CertificateKeyPairListPage.ts
  web/src/admin/enterprise/EnterpriseLicenseListPage.ts
  web/src/admin/events/EventListPage.ts
  web/src/admin/events/RuleListPage.ts
  web/src/admin/events/TransportListPage.ts
  web/src/admin/flows/BoundStagesList.ts
  web/src/admin/flows/FlowListPage.ts
  web/src/admin/groups/GroupListPage.ts
  web/src/admin/groups/RelatedGroupList.ts
  web/src/admin/groups/RelatedUserList.ts
  web/src/admin/outposts/OutpostListPage.ts
  web/src/admin/outposts/ServiceConnectionListPage.ts
  web/src/admin/policies/BoundPoliciesList.ts
  web/src/admin/policies/reputation/ReputationListPage.ts
  web/src/admin/property-mappings/PropertyMappingListPage.ts
  web/src/admin/providers/ProviderListPage.ts
  web/src/admin/providers/rac/EndpointList.ts
  web/src/admin/rbac/InitialPermissionsListPage.ts
  web/src/admin/roles/RoleListPage.ts
  web/src/admin/stages/invitation/InvitationListPage.ts
  web/src/admin/stages/prompt/PromptListPage.ts
  web/src/admin/tokens/TokenListPage.ts
  web/src/admin/users/UserApplicationTable.ts
  web/src/admin/users/UserListPage.ts
  web/src/elements/table/TableColumn.ts
  web/src/elements/tasks/ScheduleList.ts
  web/src/elements/tasks/TaskList.ts
  web/src/user/user-settings/tokens/UserTokenList.ts
Owners: @goauthentik/frontend

web: Add labels to all rows.
  web/src/admin/admin-overview/cards/RecentEventsCard.ts
  web/src/admin/brands/BrandListPage.ts
  web/src/admin/events/EventListPage.ts
  web/src/admin/flows/BoundStagesList.ts
  web/src/admin/groups/MemberSelectModal.ts
  web/src/admin/groups/RelatedUserList.ts
  web/src/admin/policies/BoundPoliciesList.ts
  web/src/admin/policies/PolicyListPage.ts
  web/src/admin/policies/reputation/ReputationListPage.ts
  web/src/admin/providers/google_workspace/GoogleWorkspaceProviderGroupList.ts
  web/src/admin/providers/google_workspace/GoogleWorkspaceProviderUserList.ts
  web/src/admin/providers/microsoft_entra/MicrosoftEntraProviderGroupList.ts
  web/src/admin/providers/microsoft_entra/MicrosoftEntraProviderUserList.ts
  web/src/admin/providers/rac/ConnectionTokenList.ts
  web/src/admin/providers/scim/SCIMProviderGroupList.ts
  web/src/admin/providers/scim/SCIMProviderUserList.ts
  web/src/admin/providers/ssf/StreamTable.ts
  web/src/admin/roles/RoleAssignedGlobalPermissionsTable.ts
  web/src/admin/sources/SourceListPage.ts
  web/src/admin/sources/scim/SCIMSourceGroups.ts
  web/src/admin/sources/scim/SCIMSourceUsers.ts
  web/src/admin/stages/StageListPage.ts
  web/src/admin/tokens/TokenListPage.ts
  web/src/admin/users/UserAssignedGlobalPermissionsTable.ts
  web/src/admin/users/UserListPage.ts
  web/src/components/events/ObjectChangelog.ts
  web/src/components/events/UserEvents.ts
  web/src/elements/events/LogViewer.ts
  web/src/elements/forms/DeleteBulkForm.ts
  web/src/elements/oauth/UserAccessTokenList.ts
  web/src/elements/oauth/UserRefreshTokenList.ts
  web/src/elements/table/Table.ts
  web/src/elements/tasks/ScheduleList.ts
  web/src/elements/tasks/TaskList.ts
  web/src/elements/user/SessionList.ts
  web/src/elements/user/UserConsentList.ts
  web/src/elements/user/UserReputationList.ts
  web/src/user/user-settings/mfa/MFADevicesPage.ts
Owners: @goauthentik/frontend

web: Fix icon alignment.
  web/src/admin/providers/ProviderListPage.ts
  web/src/common/styles/authentik.css
Owners: @goauthentik/frontend

web: Fix column text wrapping.
  web/src/elements/table/Table.ts
Owners: @goauthentik/frontend

web: Fix alignment, labeling.
  web/src/admin/applications/ApplicationListPage.ts
  web/src/admin/flows/FlowListPage.ts
  web/src/admin/providers/ProviderListPage.ts
  web/src/elements/ak-table/ak-simple-table.ts
  web/src/elements/table/Table.ts
  web/src/elements/table/TableColumn.ts
Owners: @goauthentik/frontend

website: extends the example to include `jwt_config`
  website/integrations/chat-communication-collaboration/matrix-synapse/index.md
Owners: @goauthentik/docs

Updated formatting
  website/integrations/chat-communication-collaboration/matrix-synapse/index.md
Owners: @goauthentik/docs

web: Flesh out flow search clean up.
  web/src/admin/applications/components/ak-provider-search-input.ts
  web/src/admin/common/ak-core-group-search.ts
  web/src/admin/common/ak-crypto-certificate-search.ts
  web/src/admin/common/ak-flow-search/FlowSearch.ts
  web/src/admin/common/ak-flow-search/ak-branded-flow-search.ts
  web/src/admin/common/ak-flow-search/ak-flow-search-no-default.ts
  web/src/admin/common/ak-flow-search/ak-flow-search.ts
  web/src/admin/common/ak-flow-search/ak-source-flow-search.ts
  web/src/admin/providers/ldap/LDAPProviderFormForm.ts
  web/src/admin/providers/oauth2/OAuth2ProviderFormForm.ts
  web/src/admin/providers/oauth2/OAuth2ProviderViewPage.ts
  web/src/admin/providers/radius/RadiusProviderFormForm.ts
  web/src/components/DescriptionList.ts
  web/src/elements/forms/SearchSelect/SearchSelect.ts
  web/src/elements/forms/SearchSelect/ak-search-select-ez.ts
  web/src/elements/forms/SearchSelect/ak-search-select-view.ts
  web/src/elements/forms/SearchSelect/ak-search-select.ts
Owners: @goauthentik/frontend

web: Fix issues surrounding escape key in modals. Tidy properties.
  web/src/elements/ak-list-select/ak-list-select.ts
  web/src/elements/controllers/ModalOrchestrationController.ts
Owners: @goauthentik/frontend

web: Tidy properties, types.
  web/src/elements/forms/SearchSelect/SearchSelect.ts
  web/src/elements/forms/SearchSelect/ak-search-select-ez.ts
  web/src/elements/forms/SearchSelect/ak-search-select-view.ts
  web/src/elements/forms/SearchSelect/ak-search-select.ts
  web/src/elements/forms/SearchSelect/stories/ak-search-select.stories.ts
Owners: @goauthentik/frontend

web: Clean up types.
  web/src/admin/applications/components/ak-provider-search-input.ts
  web/src/admin/common/ak-flow-search/FlowSearch.ts
Owners: @goauthentik/frontend

web: Flesh out test prereqs.
  web/playwright.config.js
  web/test/browser/prerequisites.setup.ts
Owners: @goauthentik/frontend

web: Clarify labels for screen readers.
  web/src/admin/providers/ProviderListPage.ts
  web/src/admin/providers/ldap/LDAPProviderFormForm.ts
  web/src/admin/providers/oauth2/OAuth2ProviderFormForm.ts
  web/src/admin/providers/radius/RadiusProviderFormForm.ts
Owners: @goauthentik/frontend

web: Fix ARIA group behavior, labeling, input selectors.
  web/e2e/fixtures/FormFixture.ts
  web/e2e/fixtures/SessionFixture.ts
  web/src/components/HorizontalLightComponent.ts
  web/src/components/ak-hidden-text-input.ts
  web/src/components/ak-hidden-textarea-input.ts
  web/src/components/ak-number-input.ts
  web/src/components/ak-radio-input.ts
  web/src/components/ak-text-input.ts
  web/src/components/stories/ak-hidden-text-input.stories.ts
  web/src/components/stories/ak-hidden-textarea-input.stories.ts
  web/src/elements/forms/HorizontalFormElement.ts
  web/test/browser/providers.test.ts
Owners: @goauthentik/frontend
