Repository goauthentik/authentik, changes with the owners that CODEOWNERS names for each.
All owners: @goauthentik/backend, @goauthentik/frontend, @goauthentik/infrastructure, @goauthentik/docs, @goauthentik/security

sources/oauth/entra_id: do not assume group_id comes from entra (#16456)
  authentik/sources/oauth/types/entra_id.py
Owners: @goauthentik/backend

website/docs: 2025.8.2 release notes
  website/docs/releases/2025/v2025.8.mdx
Owners: @goauthentik/docs

web: Fix Chrome warning about submitting unmounted forms.
  web/src/flow/stages/authenticator_validate/AuthenticatorValidateStage.ts
  web/src/flow/stages/authenticator_validate/base.ts
  web/src/flow/stages/base.ts
Owners: @goauthentik/frontend

web: Fix issues surrounding autofocus on mount.
  web/src/elements/utils/focus.ts
  web/src/flow/providers/oauth2/DeviceCode.ts
  web/src/flow/stages/authenticator_validate/AuthenticatorValidateStageCode.ts
Owners: @goauthentik/frontend

website/docs: 2025.8.2 release notes (#16773)
  website/docs/releases/2025/v2025.8.mdx
Owners: @goauthentik/docs

website/docs: 2025.8.2 release notes (#16773)
  website/docs/releases/2025/v2025.8.mdx
Owners: @goauthentik/docs

website/integrations: update omada controller doc (#16771)
  website/integrations/networking/omada-controller/index.mdx
Owners: @goauthentik/docs

WIP
  website/docs/users-sources/user/user_ref.mdx
Owners: @goauthentik/docs

website/integrations: add logout url to paperless (#16758)
  website/integrations/documentation/paperless-ngx/index.mdx
Owners: @goauthentik/docs

WIP
  website/docs/users-sources/user/user_ref.mdx
Owners: @goauthentik/docs

Add note
  website/docs/add-secure-apps/providers/oauth2/create-oauth2-provider.md
Owners: @goauthentik/docs

Apply suggestion
  website/docs/install-config/email.mdx
Owners: @goauthentik/docs

Update website/docs/users-sources/user/user_ref.mdx
  website/docs/users-sources/user/user_ref.mdx
Owners: @goauthentik/docs

Language change
  website/docs/users-sources/user/user_ref.mdx
Owners: @goauthentik/docs

Applied suggestions
  website/integrations/chat-communication-collaboration/roundcube/index.md
Owners: @goauthentik/docs

allow null application slug/name
  authentik/core/api/applications.py
  authentik/core/api/providers.py
  schema.yml
Owners: @goauthentik/backend, @goauthentik/frontend

update web to match
  web/src/admin/applications/ApplicationViewPage.ts
  web/src/admin/outposts/OutpostForm.ts
  web/src/admin/providers/oauth2/OAuth2ProviderViewPage.ts
Owners: @goauthentik/frontend

web: Fixed null lastUsed and autofocus on TOTP login field (#16739)
  web/src/elements/utils/focus.ts
  web/src/flow/providers/oauth2/DeviceCode.ts
  web/src/flow/stages/authenticator_totp/AuthenticatorTOTPStage.ts
  web/src/flow/stages/authenticator_validate/AuthenticatorValidateStage.ts
  web/src/flow/stages/authenticator_validate/AuthenticatorValidateStageCode.ts
  web/src/flow/stages/authenticator_validate/base.ts
  web/src/flow/stages/base.ts
Owners: @goauthentik/frontend

Add more tests.
  authentik/sources/saml/tests/fixtures/response_signed_error.xml
  authentik/sources/saml/tests/test_response.py
Owners: @goauthentik/backend

lifecycle: fix permission error when running worker as root (#16735)
  lifecycle/ak
Owners: @goauthentik/backend

docs: fix docker tabs not rendering properly
  website/docs/troubleshooting/logs.mdx
Owners: @goauthentik/docs

flows: add test to ensure FlowExecutorView respects authentication_classes
  authentik/flows/tests/test_executor.py
Owners: @goauthentik/backend

flows: respect authentication_classes in FlowExecutorView()
  authentik/flows/views/executor.py
Owners: @goauthentik/backend

Update index.mdx
  website/integrations/chat-communication-collaboration/wekan/index.mdx
Owners: @goauthentik/docs

website/docs: fix docker tabs not rendering properly (#16799)
  website/docs/troubleshooting/logs.mdx
Owners: @goauthentik/docs

website/docs: fix docker tabs not rendering properly (#16799)
  website/docs/troubleshooting/logs.mdx
Owners: @goauthentik/docs

website/integrations: fix wekan redirect URL (#16801)
  website/integrations/chat-communication-collaboration/wekan/index.mdx
Owners: @goauthentik/docs

Add notes
  website/docs/releases/2025/v2025.4.md
  website/docs/releases/2025/v2025.6.md
Owners: @goauthentik/docs

Remove docs changes
  website/docs/releases/2025/v2025.6.md
Owners: @goauthentik/docs

web: Use curated dictionary for e2e fixtures. (#16750)
  web/e2e/utils/dictionaries/adjectives.txt
  web/e2e/utils/dictionaries/colors.txt
  web/e2e/utils/generators.ts
  web/package-lock.json
  web/package.json
  web/test/browser/providers.test.ts
Owners: @goauthentik/frontend

Update website/docs/users-sources/user/user_ref.mdx
  website/docs/users-sources/user/user_ref.mdx
Owners: @goauthentik/docs

website/docs: update create oauth provider page (#16617)
  website/docs/add-secure-apps/providers/oauth2/create-oauth2-provider.md
Owners: @goauthentik/docs

website/docs: update create oauth provider page (#16617)
  website/docs/add-secure-apps/providers/oauth2/create-oauth2-provider.md
Owners: @goauthentik/docs

webiste/integrations: update roundcube doc (#16753)
  website/integrations/chat-communication-collaboration/roundcube/index.md
Owners: @goauthentik/docs

website/docs: updated Frontend development environment contributor docs (#16731)
  website/docs/developer-docs/setup/frontend-dev-environment.md
Owners: @goauthentik/docs

stages/email_authenticator: Fix email mfa loop (#16579)
  authentik/stages/authenticator_email/stage.py
  authentik/stages/authenticator_email/tests.py
Owners: @goauthentik/backend

stages/email_authenticator: Fix email mfa loop (#16579)
  authentik/stages/authenticator_email/stage.py
  authentik/stages/authenticator_email/tests.py
Owners: @goauthentik/backend

website/docs: 2025.8.3 release notes
  website/docs/releases/2025/v2025.8.mdx
Owners: @goauthentik/docs

website/docs: 2025.8.3 release notes (#16809)
  website/docs/releases/2025/v2025.8.mdx
Owners: @goauthentik/docs

website/docs: 2025.8.3 release notes (#16809)
  website/docs/releases/2025/v2025.8.mdx
Owners: @goauthentik/docs

CODEOWNERS:

# Fallback
*                                       @goauthentik/backend @goauthentik/frontend
# Backend
authentik/                              @goauthentik/backend
blueprints/                             @goauthentik/backend
cmd/                                    @goauthentik/backend
internal/                               @goauthentik/backend
lifecycle/                              @goauthentik/backend
schemas/                                @goauthentik/backend
scripts/                                @goauthentik/backend
tests/                                  @goauthentik/backend
pyproject.toml                          @goauthentik/backend
uv.lock                                 @goauthentik/backend
go.mod                                  @goauthentik/backend
go.sum                                  @goauthentik/backend
# Infrastructure
.github/                                @goauthentik/infrastructure
lifecycle/aws/                          @goauthentik/infrastructure
Dockerfile                              @goauthentik/infrastructure
*Dockerfile                             @goauthentik/infrastructure
.dockerignore                           @goauthentik/infrastructure
docker-compose.yml                      @goauthentik/infrastructure
Makefile                                @goauthentik/infrastructure
.editorconfig                           @goauthentik/infrastructure
CODEOWNERS                              @goauthentik/infrastructure
# Backend packages
packages/django-dramatiq-postgres       @goauthentik/backend
# Web packages
packages/docusaurus-config              @goauthentik/frontend
packages/esbuild-plugin-live-reload     @goauthentik/frontend
packages/eslint-config                  @goauthentik/frontend
packages/prettier-config                @goauthentik/frontend
packages/tsconfig                       @goauthentik/frontend
# Web
web/                                    @goauthentik/frontend
# Locale
locale/                                 @goauthentik/backend @goauthentik/frontend
web/xliff/                              @goauthentik/backend @goauthentik/frontend
# Docs
website/                                @goauthentik/docs
CODE_OF_CONDUCT.md                      @goauthentik/docs
# Security
SECURITY.md                             @goauthentik/security @goauthentik/docs
website/security/                       @goauthentik/security @goauthentik/docs
